#fter_DIV_1 {
    color: rgb(51, 51, 51);
    height: 696px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 348px;
    transform-origin: 575px 348px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_DIV_1*/

#fter_H2_2 {
    color: rgb(51, 51, 51);
    height: 32px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 16px;
    transform-origin: 575px 16px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 22px / normal Oswald;
    margin: 10px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_H2_2*/

#fter_SPAN_3 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 22px / normal Oswald;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_SPAN_3*/

#fter_DIV_4 {
    color: rgb(51, 51, 51);
    height: 654px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 327px;
    transform-origin: 575px 327px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#fter_DIV_4*/

#fter_DIV_5 {
    color: rgb(51, 51, 51);
    height: 626px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 313px;
    transform-origin: 575px 313px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_DIV_5*/

#fter_P_6 {
    color: rgb(51, 51, 51);
    cursor: text;
    height: 66px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 33px;
    transform-origin: 575px 33px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    margin: 14px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_P_6*/

#fter_SPAN_7, #fter_SPAN_11, #fter_SPAN_14, #fter_SPAN_17, #fter_SPAN_20, #fter_SPAN_23, #fter_SPAN_27, #fter_SPAN_30, #fter_SPAN_34, #fter_SPAN_37, #fter_SPAN_41 {
    color: rgb(51, 51, 51);
    cursor: text;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_SPAN_7, #fter_SPAN_11, #fter_SPAN_14, #fter_SPAN_17, #fter_SPAN_20, #fter_SPAN_23, #fter_SPAN_27, #fter_SPAN_30, #fter_SPAN_34, #fter_SPAN_37, #fter_SPAN_41*/

#fter_SPAN_8, #fter_SPAN_12, #fter_SPAN_15, #fter_SPAN_18, #fter_SPAN_21, #fter_SPAN_24, #fter_SPAN_28, #fter_SPAN_31, #fter_SPAN_35, #fter_SPAN_38, #fter_SPAN_42 {
    color: rgb(51, 51, 51);
    cursor: text;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "lucida sans unicode", "lucida grande", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_SPAN_8, #fter_SPAN_12, #fter_SPAN_15, #fter_SPAN_18, #fter_SPAN_21, #fter_SPAN_24, #fter_SPAN_28, #fter_SPAN_31, #fter_SPAN_35, #fter_SPAN_38, #fter_SPAN_42*/

#fter_STRONG_9, #fter_STRONG_25, #fter_STRONG_32, #fter_STRONG_39 {
    color: rgb(51, 51, 51);
    cursor: text;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 14px / 22.4px "lucida sans unicode", "lucida grande", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_STRONG_9, #fter_STRONG_25, #fter_STRONG_32, #fter_STRONG_39*/

#fter_P_10, #fter_P_26, #fter_P_40 {
    color: rgb(51, 51, 51);
    cursor: text;
    height: 44px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 22px;
    transform-origin: 575px 22px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    margin: 14px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_P_10, #fter_P_26, #fter_P_40*/

#fter_P_13, #fter_P_16, #fter_P_22, #fter_P_33 {
    color: rgb(51, 51, 51);
    cursor: text;
    height: 22px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 11px;
    transform-origin: 575px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    margin: 14px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_P_13, #fter_P_16, #fter_P_22, #fter_P_33*/

#fter_P_19, #fter_P_29 {
    color: rgb(51, 51, 51);
    cursor: text;
    height: 22px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 11px;
    transform-origin: 575px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    margin: 14px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_P_19, #fter_P_29*/

#fter_P_36 {
    color: rgb(51, 51, 51);
    cursor: text;
    height: 22px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 11px;
    transform-origin: 575px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    margin: 14px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_P_36*/

#fter_UL_43 {
    color: rgb(51, 51, 51);
    height: 120px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1125px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 575px 60px;
    transform-origin: 575px 60px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    list-style: square outside none;
    margin: 14px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 25px;
}/*#fter_UL_43*/

#fter_LI_44, #fter_LI_47, #fter_LI_50, #fter_LI_53, #fter_LI_56 {
    color: rgb(51, 51, 51);
    height: 24px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1125px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 562.5px 12px;
    transform-origin: 562.5px 12px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    list-style: square outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_LI_44, #fter_LI_47, #fter_LI_50, #fter_LI_53, #fter_LI_56*/

#fter_SPAN_45, #fter_SPAN_48, #fter_SPAN_51, #fter_SPAN_54, #fter_SPAN_57 {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "Open Sans";
    list-style: square outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_SPAN_45, #fter_SPAN_48, #fter_SPAN_51, #fter_SPAN_54, #fter_SPAN_57*/

#fter_SPAN_46, #fter_SPAN_49, #fter_SPAN_55 {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "lucida sans unicode", "lucida grande", sans-serif;
    list-style: square outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_SPAN_46, #fter_SPAN_49, #fter_SPAN_55*/

#fter_SPAN_52, #fter_SPAN_58 {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 22.4px "lucida sans unicode", "lucida grande", sans-serif;
    list-style: square outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#fter_SPAN_52, #fter_SPAN_58*/

